---
---


<section id="about">
  <div class="container">
    <h2 class="section-title load-hidden">About me</h2>
    <div class="row about-wrapper">
      <div class="col-md-6 col-sm-12">
        <div class="about-wrapper__image load-hidden">
          <img
            alt="Profile Image"
            class="img-fluid rounded shadow-lg"
            height="auto"
            width="300px"
            src="/portfolio_pk/profile_pk.jpg"
            alt="Profile Image"
          />
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="about-wrapper__info load-hidden">
          <p class="about-wrapper__info-text">
              I am a software engineer with a passion for creating innovative and efficient solutions to complex problems. 
              With experience in various industries, including web development, backend and quality assurance, 
              I am well-versed in developing and implementing cutting-edge technologies to drive growth and success for any organization.
              
          </p>
          <p class="about-wrapper__info-text">
          
          </p>
          <span class="d-flex mt-3">
            <a
              rel="noreferrer"
              target="_blank"
              class="cta-btn cta-btn--resume"
              href="/portfolio_pk/resume_PK.pdf"
            >
              Check out my resume to learn more about me!
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>