---

---
<section id="contact">
  <div class="container">
    <h2 class="section-title">Contact</h2>
    <div class="nav__links">
    <div class="contact-wrapper load-hidden">
      <a
        rel="noreferrer"
        target="_blank"
        class="cta-btn cta-btn--resume"
        href="mailto:piyushkhurana38@gmail.com"
        >e-mail</a
      >
    </div>

    <div class="contact-wrapper  load-hidden">
      <a
        rel="noreferrer"
        target="_blank"
        class="cta-btn-icon cta-btn--icon fa-brands fa-github"
        style="border-radius:50%;"
        href="https://github.com/pka420"
        ></a
      >
    </div>

    <div class="contact-wrapper  load-hidden">
      <a
        rel="noreferrer"
        target="_blank"
        class="cta-btn-icon cta-btn--icon fa-brands fa-linkedin"
        style="border-radius:50%;"
        href="https://www.linkedin.com/in/pka42/"
        ></a
      >
    </div>

    <div class="contact-wrapper  load-hidden">
      <a
        rel="noreferrer"
        target="_blank"
        class="cta-btn-icon cta-btn--icon fa-brands fa-twitter"
        style="border-radius:50%;"
        href="https://twitter.com/PiyushK038"
        ></a
      >
    </div>
    </div>
  </div>
  </section>
