---
import { ProjectCard } from "../components/projectCard";
import {projectData} from "../data/projectData";
---

<section id="projects">
  <div class="container">
    <div class="project-wrapper">
      <h2 class="section-title dark-blue-text">Projects</h2>
      <ProjectCard client:visible 
        data = {projectData}
      />
    </div>
  </div>
</section>


